---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Hola mariquita</h1>
		
		<h2>Tutorial para aprender a hacer esta puta mierda</h2>

		<p>Bueno me piden que escriba cosas pero ni  putisima idea, asi que pongo mierda de relleno.</p>

		<p>Tu padre es maricon asi que revisale el movil que a lo mejor por la noche se convierte en maribi.</p>

	</body>
</html>
